@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


body {
	padding: 10px;
	font-family: 'Abel', sans-serif;
	background-color: #BED0F4;
}

#Main {
	background: #F7E4E0;
	color: #495F75;
	margin:auto;
	margin-top:8em;
	border: 1px solid #000;
	box-shadow: 3px 3px 10px black;
	width: 30em;
	height: 38em;
}

#Screen {
	padding: 0 5px;
	padding-top: 10px;
	font-size: 10px;
	width: 100%;
	height: 80px;
	overflow: hidden;
	background-color: white;
	text-align: right;
	border: 2px solid #aaa3ac;
}

	#Screen p {
		font-size: 30px;
		font-weight: 900;
		color: #424242;
		line-height: 25px;
	}

button {
	font-size: 20px;
	display: inline-block;
	margin-top:10px;
	width: 70px;
	height: 50px;
}

#Keypad {
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;
	height: 45%;
}

	#Keypad button {
		margin:auto;
		flex-basis: 33%;
		align-self: center;
	}

#clear {
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:10px;
	width:81%;
	display:block;
	
}

#math {
	margin: 0 10px;
}
